body
{
    background-image: linear-gradient(140deg, #EADEDB 0%, #BC70A4 50%, #BFD641 75%);
    color: white;
    font-family: 'Nova Square', sans-serif;
}

table,tr,th,td{
    
    border-collapse: collapse;
    text-align: center;
    
}
table 
{
    height: 50vh;
    width: 80%;
    margin: auto;
    box-shadow: 14px 14px 4px 4px rgba(255, 255, 255, 0.41);
    border-radius: 1px;
    margin-bottom: 30px;
    transition: 600ms ease-in-out;
}

table:hover
{
        box-shadow: 14px 14px 4px 4px rgba(196, 36, 36, 0.8);
        transition: 600ms ease-in-out;
}


.details
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    user-select: none;
}
.details h1:hover
{
    color: #362f4b;
    transition: 500ms ease-in-out;
}

.details h1::after
{
    content: "";
    display: block;
    width: 55%;
    border: 3px solid white;
    transition: 500ms ease-in-out;

}

.details h1:hover::after
{
    width: 100%;
    border-color: #362f4b;
    animation: heading-animation 500ms ease-in-out;
    
}



.details h2:hover
{
    color: #362f4b;
    transition: 200ms ease-in-out;
}
.details h3:hover
{
    color: #362f4b;
    transition: 200ms ease-in-out;
}


a{
    text-transform:capitalize;
    text-decoration: none;
    
}

tr th
{
    background-color: #362f4b;
    cursor: pointer;
    user-select: none;
    font-size: 20px;
    font-weight: 1000;
    padding: 18px;

}

tr th:hover
{
    color: white;
    transition: 400ms ease-in-out;
}


tr:nth-child(1n)
{
    /* From https://css.glass */
        background: rgba(255, 255, 255, 0.79);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(14.7px);
        -webkit-backdrop-filter: blur(14.7px);
        border: 1px solid rgba(255, 255, 255, 0.13);
    color: gray;
}

tr:nth-child(2n)
{
    background-color: #f6f6f6;
    color: gray;
}

tr td
{
    font-size: 12px;
    padding: 15px;
}

tr td:nth-child(1):hover
{
        color: black;
        background: rgba(255, 255, 255, 8);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        user-select: none;
}

tr td:nth-child(2):hover
{
/* From https://css.glass */
    background: rgba(255, 255, 255, 0.79);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.7px);
    -webkit-backdrop-filter: blur(14.7px);
    border: 1px solid rgba(255, 255, 255, 0.13);
    
}

tr td:hover a
{
color: rgb(27, 192, 124);
transition: 200ms ease;
}


@keyframes heading-animation {
    
    from 
    {
        width: 45%;
    }
    to 
    {
        width: 100%;
    }
    
}