.header__section
{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-between;

    &_desc
    {
        display: flex;
        flex-direction: column;
        gap: 5px;
        &_subHeading
        {
            color: $primary-clr;
            font-size: 12px;
            @include tablet 
            {
                 font-size: calc($tablet-font-size - 2px);
            }
            @include laptop
            {
                 font-size: calc($laptop-font-size - 2px);
            }
            @include desktop
            {
                font-size: calc($desktop-font-size - 2px);
            }
        }

        &_heading
        {
            color: $white;
            font-size: $mobile-heading-font-size;
            span {
                color:$primary-clr;
            }
            @include tablet
            {
                font-size: $tablet-heading-font-size;
            }
            @include laptop
            {
                font-size: $laptop-heading-font-size;
            }
            @include desktop
            {
                font-size: $desktop-heading-font-size;
            }
        }
        &_detail
        {
            color: $text-clr;
            font-size: $mobile-font-size;
            text-align: start;

            @include tablet {
                // width: 45%;
                font-size: $tablet-font-size;
            }
            @include laptop {
                
                font-size: $laptop-font-size;
            }
            @include desktop {
                    font-size: $desktop-font-size;
            }
           
        }
        &_button
        {
           
            display: flex;
            gap: 5px;
            font-size: 10px;
            margin-top: 20px;
            

            &_get
            {
                padding: $button-padding;
                background-color: $primary-clr;
                color: $white;
                font-weight: $button-font-weight;
                width: 170px;

                &:hover
                {
                    @include white-background-on-hover;
                    
                }

                @include tablet {
                    width:210px ;
                    font-size: $tablet-font-size;
                }
                @include laptop {
                    width:200px ;
                    font-size: $laptop-font-size;
                }
                @include desktop{
                    width: 200px;
                    font-size: $desktop-font-size;
                }
            }
            &_help
            {
                padding: $button-padding;
                color: $white;
                font-weight: $button-font-weight;
                background-color: transparent;
                border: 2px solid $primary-clr;
                width: 150px;

                &:hover

                {
                    @include primary-background-on-hover
                }

                @include tablet
                {
                    width: 210px;
                    font-size: $tablet-font-size;
                }
                                
                @include desktop
                {
                    width: 200px;
                    font-size: $desktop-font-size;
                }
            }

            @include tablet {
                gap:20px
            }
        }
    }

     &_figure
     {
        min-width:80vw ;
        margin:  auto;
        display: flex;
        justify-content: center;

        &_image
        {
            width: 95%;

            @include tablet {
                width: 60%;
            }
            @include laptop {
                width: 60%;
            }
            @include desktop{
                width: 95%;
            }
        }

        @include tablet
        {
            justify-content: center; 
             
        }
       
        @include laptop
        {
            margin-top: 50px;
            justify-content: space-between;    
        }

        @include desktop{
            min-width: 40vw;
            
        }

     }   

     @include laptop{
            flex-direction: row;
            
     }
    

}