.main__whyVaccinated_wrapper
{
    width: 100%;
    background-color: rgba(255,255,255,0.1);
}
.main__whyVaccinated
{
    padding-top: 20px;
    padding-bottom: 40px;

    &_header
    {   
        @include cursor;
        display: flex;
        flex-direction: column;
        // gap: px;

        &_heading
        {
            color: $white;
            font-weight: $heading-font-weight;
            font-size: $mobile-heading-font-size;

            @include tablet
            {
                max-width: 60%;
                font-size: $tablet-heading-font-size;
            }
            
            @include laptop
            {
                flex-basis: 50%;
                font-size: $laptop-heading-font-size;
             }
            @include desktop
            {
                flex-basis: 40%;
                font-size: $desktop-heading-font-size;
             }
        }

        &_desc
        {
            font-size: $mobile-font-size;
            text-align: justify;

            @include tablet
            {
                max-width: 80%;
                font-size: $tablet-font-size;
            }
            
            @include laptop
            {
                flex-basis:40%;
                font-size: 15px;
            }
            @include desktop 
            {
                flex-basis:40%;
                font-size: $desktop-font-size;
            }

        }

        @include tablet
        {

        }
        
        @include laptop
        {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    &_card
    {
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        &_panel
        {
            
        border-radius: 20px 80px 20px 20px;
        padding: 15px;
        background: rgba(196, 196, 196, 0.20);
        padding-bottom: 30px;

        &_icon
        {
            padding: 7px;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 10px;

            

            @include tablet
            {
                width: 70px;
            }

          
            
            @include desktop 
            {
                width: 80px;
            }


        }

        &_heading
        {   
            color: $primary-clr;
            font-size: $mobile-font-size;
            font-weight: $heading-font-weight;
            margin-top: 20px;

            @include tablet
            {
                font-size: $tablet-heading-font-size;
            }
            @include laptop
            {
                font-size: $laptop-heading-font-size;
            }
            
            @include desktop 
            {
                font-size: $desktop-font-size;
            }
        }

        &_desc
        {
            font-size: 12px;
            text-align: justify;
            margin-top: 20px;
            color: $white;

            @include tablet
            {
                font-size: 14px;
            }

            @include laptop
            {
                font-size: 16px;
            }
            
            @include desktop 
            {
                font: 18px; 
            }
        }

        &_button
        {
            display: flex;
            gap: 5px;
            color: $white;
            font-weight: $bold-text-font-weight;
            font-size: 12px;
            background-color: transparent;
            padding: 0px;
            margin-top: 25px;
            align-items: center;

            &:hover
            {
                @include primary-text-on-hover;
            }


            @include tablet
            {
                font-size: $tablet-font-size;
            }
            @include laptop
            {
                font-size: $laptop-font-size;
            }
            
            @include desktop 
            {
                font-size: $desktop-font-size;
            }

        }

                @include tablet
                {
                    flex-basis: 60%; 
                }
        
                @include laptop 
                {
                    flex-basis: 40%;
                    
                    // align-self: end;
                }
                @include desktop 
                {
                    flex-basis: 30%;
                }



        }

        &_panel2
        {
            border-radius: 30px;
            border: 2.994px solid rgba(255, 255, 255, 0.50);
            padding: 15px;
            padding-left: 30px;
            background: transparent;
            padding-bottom: 30px;
            
    
               &_icon 
               {
                    padding: 7px;
                    background-color: rgba(255, 255, 255, 0.1);
                    border-radius: 10px;
    
    
    
                    @include tablet{}

                    @include laptop
                    {
                        
                    }
    
                    @include desktop {}
    
    
                }
    
               &_heading 
               {
                   color: $white;
                   font-size: $mobile-font-size;
                   font-weight: $heading-font-weight;
                   margin-top: 20px;
    
                   @include tablet
                   {
                    font-size: 14px;
                   }
                   @include laptop
                   {
                    font-size: 16px;
                   }
                   @include desktop
                   {
                    font-size: 18px;
                   }
    
                  
               }
    
             
    
               &_button {
                   display: flex;
                   gap: 5px;
                   color: $text-clr;
                   font-weight: $bold-text-font-weight;
                   font-size: 12px;
                   background-color: transparent;
                   padding: 0px;
                   margin-top: 30px;
                   align-items: center;
                
                   &:hover
                   {
                    @include primary-text-on-hover
                   }
    
                   @include tablet
                   {
                    font-size: $tablet-font-size;
                   }
                   @include laptop
                   {
                    font-size: $laptop-font-size;
                   }
    
                  @include desktop 
                  {
                    font-size: $desktop-font-size;
                    align-self: end;
                  }
    
               }

               &:nth-child(2)
               {
                @include tablet{
                    margin-right: 10%;
                }
                @include laptop{
                    margin-right: 0%;
                    
                }
                @include desktop {
                    margin-right: 0%;
                    
                }

               }
    
               @include tablet
               {
                flex-basis: 25%;
               }
    
               @include laptop {
               align-self: end;
               flex-basis: 20%;
               }

               @include desktop{
               flex-basis: 25%;
               }
               
    
    
    
        }

        @include tablet
        {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 20px;

        }
        
        @include laptop 
        {
            margin-top: 30px;   
        }

        // @include desktop 
        // {
        //     margin-top: 30px;   
        // }

    }



}