.main__prevention_wrapper
{
    background-image: url(./assets/desktop_header_bg.png);
    background-position: center;
    background-size: cover;


    .main__prevention
    {

        padding: 10px;
        padding-bottom: 0;

        &_prevHeading
        {
            text-align: center;
            font-size: 12px;
            color: $white;
            font-weight: $heading-font-weight;
            margin-top: 25px;

            @include tablet 
            {
                font-size: $tablet-font-size;
                margin-top: 40px;
            }
            
            @include laptop
             {
                font-size: $laptop-font-size;
             }
            @include desktop
             {
                font-size: $desktop-font-size;
             }

        }

        &_symptomsHeading
        {  
            font-size: $mobile-heading-font-size;
            font-weight: $heading-font-weight;
            margin-top: 20px;
            color: $white;
            text-align: center;

            span 
            {
                color: $primary-clr;
            }


            @include tablet 
            {
                font-size: $tablet-heading-font-size;
                margin-top: 25px;
            }

            @include laptop 
            {
                font-size: $laptop-heading-font-size;
                
            }
            
            @include desktop
             {
                font-size: $desktop-heading-font-size;
                margin-top: 30px;
             }

        }

        &_description
        {
            text-align: center;
            font-size: 12px;


            @include tablet 
            {
                font-size: 14px;
            }
            
            @include laptop
            {
                font-size: 15px;
                max-width: 70%;
                margin: auto;

            }
            
            @include desktop 
            {
                font-size: 16px;

            }

        }

        &_figure
        {
            width: 100%;
            margin: 0;
            padding: 0;
            margin-top: 30px;

            &_image
            {
                width: 100%;
                border-radius: 20px;
                @include tablet {}
                
                @include desktop {}
            }
            @include tablet {}
            
            @include desktop {}

        }

        @include tablet {}
        
        @include desktop {}

    }


    @include tablet {}
    
    @include desktop {}
    

}