@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom styles  */
body 
{
    font-family: 'Montserrat', sans-serif;
}
 .custom-container
{   
    width: 90%;
    margin-left:auto;
    margin-right:auto;
    
}

.cursor 
{
    user-select: none;
    cursor: pointer;
}

.main-clr
{
    color: #084c61;
    
} 