.header__section
{
    
    // margin-top: 36px  ;
    display: flex;
    flex-direction: column;
    text-align: center;

    &-description
    {
        flex-shrink: 3;
        color: $body-text-color;
        h2
        {
            font-size: $heading-font-size;
            color: $white;
            max-width: 352px;
            margin: auto;
            

            @media screen and (min-width:768px) {
                max-width: 385px;
                text-align: start;
                margin-top: 45px;
            }
            
        }
        p 
        {
            
            max-width: 382px;
            margin:24px auto;
            text-align: justify;
        }

        &-button
        {
            display: flex;
            flex-direction: column;
            gap: 16px;
            align-items: center;
            
            button 
            {
                width: 14rem;
                
            &:nth-child(1)
            {
                background-color: $white;
                padding: 24px 0px;

            }
             &:nth-child(2) {
                background-color: transparent;    
                border: 3px solid $white; 
                color: $white;   
                font-weight: $button-font-weight;
                padding: 24px 0px;
             }
           
            }
             @media screen and (min-width:768px) {
                 display: flex;
                flex-direction: row;
                 
                          }
        }
        &-details
        {
            margin-top: $block-seperator-margin;
            display: flex;
            justify-content: space-between;
            gap:20px ;
            div
            {
                display: flex;
                flex-direction: column;
                gap: 8px;
                span 
                {
                    &:nth-child(1)
                    {
                        color: $white;
                        font-size: 20px;
                        font-weight: 600;
                    }
                     &:nth-child(2) {                    
                        font-size: 12px;
                       }
                }
            }
            @media screen and (min-width:768px) {
                margin-bottom:100px ;
            }
                          @media screen and (min-width:1400px) {
                              margin-bottom:175px;
                          }
        }
        @media screen and (min-width:768px) {
                max-width: 50%;
        }
    }
    figure 
    {
        // width: 100%;
        flex-shrink: 1;
        img 
        {
            width: 100%;
        }
        @media screen and (min-width:768px) {
            flex-basis: 50%;
            align-self: center;
        }
    }
    @media screen and (min-width:768px) {
            flex-direction: row;
            
           
    }

}