@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap');

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    color: $text-clr;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: $bg-clr;
    background-color:#f5f5f5 ;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}

button {
    appearance: none;
    border: none;

}

.container
{
    width: 70%;
    margin: 0px auto;

}