header{
    background-color: $white;
    margin-top:0px; 
    padding-top: 0px;
}
.header
{
    @include cursor;
    @include flex();
    gap: 30px;

    @include element('logo')
  
    {
            @include flex(row,center,center);
            gap: 10px;
            font-size:$tablet-font-size;

            @include tablet
            {
                padding: 10px;
            }
   
    }

    @include element('logo-image')
    {
        width: 40px;
        height: 40px;
        transform: rotate(20deg);
        transition: 3000ms ease-in;

        &:hover 
        {
            transform: rotate(360deg);
            transition: 2000ms ease-in-out;
        }
    }

    @include element('nav')
    {
        flex-basis: 50%;

        @include tablet
        {
            // display: none;
            position: fixed;
            bottom: 0px;
            background-color: $bg-clr;
            padding: 0;
            margin-top: 30px;
            width: 100%
            
            
            

            
        }
    }

    @include element('list-container')
    {
        @include flex;
        justify-content: space-between;
        gap:30px;

        @include tablet{
            @include flex;
            justify-content: space-evenly;

        }
        
    }

    @include element('list')
    {
        font-size: 12px;

        &:hover{
            
            @include nav-hover;
        }
    }

    @include element('button')
    {
        width: 30px;
        height: 30px;
        border-radius: $border-radius;
        background-color: $bg-clr;
        &:hover 
        {
                @include icon-hover;
        }
        @include tablet
        {
                margin: 10px;
        }
        
        
    }
    @include element('button-icon')
    {
        color: $primary-clr;

       

    }
    
    @include tablet{
        width: 100%;
        margin: auto;
    }

}